html
    head
        title #{title}
    body
        h1 #{header} 
        .output= "Visitor's ID: " + data.visitorid
        .output= "Fullname: " + data.fullname
        .output= "Visitor's age: " + data.visitorsage
        .output= "Date of visit: " + data.dateofvisit
        .output= "Time of visit: " + data.timeofvisit
        .output= "Assisted by: " + data.assistedby
        .output= "Comments: " + data.comments
